<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.tacs.systemadmin.hsknowledge.mapper.IHsCodeMapper">

    <resultMap id="hsCodeMap" type="kr.or.tacs.vo.systemadmin.hsknowledge.HsCodeVO">
        <id property="hsCode" column="HS_CODE"/>
        <result property="hsName" column="HS_NAME"/>
        <result property="hsTariffRate" column="HS_TARIFF_RATE"/>
        <result property="hsClassLevelCd" column="HS_CLASS_LEVEL_CD"/>
        <result property="hsClassNm" column="HS_CLASS_NM"/>
        <result property="hsClassDesc" column="HS_CLASS_DESC"/>
        <result property="parentHsClassCd" column="PARENT_HS_CLASS_CD"/>
        <result property="selectableYn" column="SELECTABLE_YN"/>
        <result property="sortSn" column="SORT_SN"/>
        <result property="useYn" column="USE_YN"/>
    </resultMap>

    <sql id="hsCodeColumns">
          H.hs_code
        , H.hs_name
        , H.hs_tariff_rate
        , C.hs_class_level_cd
        , C.hs_class_nm
        , C.hs_class_desc
        , C.parent_hs_class_cd
        , C.selectable_yn
        , C.sort_sn
        , NVL(C.use_yn, 'Y') AS use_yn
    </sql>

    <sql id="hsCodeSearchWhere">
        WHERE 1 = 1
        <if test="hsCode != null and hsCode != ''">
          AND UPPER(H.hs_code) LIKE '%' || UPPER(#{hsCode}) || '%'
        </if>
        <if test="hsName != null and hsName != ''">
          AND UPPER(H.hs_name) LIKE '%' || UPPER(#{hsName}) || '%'
        </if>
        <if test="hsClassLevelCd != null and hsClassLevelCd != '' and hsClassLevelCd != 'all'">
          AND C.hs_class_level_cd = #{hsClassLevelCd}
        </if>
        <if test="useYn != null and useYn != '' and useYn != 'all'">
          AND NVL(C.use_yn, 'Y') = #{useYn}
        </if>
    </sql>

    <select id="selectHsCodeList"
            parameterType="kr.or.tacs.vo.systemadmin.hsknowledge.HsCodeSearchVO"
            resultMap="hsCodeMap">
        SELECT
              hs_code
            , hs_name
            , hs_tariff_rate
            , hs_class_level_cd
            , hs_class_nm
            , hs_class_desc
            , parent_hs_class_cd
            , selectable_yn
            , sort_sn
            , use_yn
        FROM (
            SELECT
                  ROWNUM AS row_no
                , hs_code
                , hs_name
                , hs_tariff_rate
                , hs_class_level_cd
                , hs_class_nm
                , hs_class_desc
                , parent_hs_class_cd
                , selectable_yn
                , sort_sn
                , use_yn
            FROM (
                SELECT
                    <include refid="hsCodeColumns"/>
                FROM hs_code H
                LEFT JOIN hs_class C
                  ON C.hs_class_cd = H.hs_code
                <include refid="hsCodeSearchWhere"/>
                ORDER BY H.hs_code ASC
            )
            WHERE ROWNUM &lt;= #{endRow}
        )
        WHERE row_no &gt;= #{startRow}
    </select>

    <select id="selectHsCodeTotalRecord"
            parameterType="kr.or.tacs.vo.systemadmin.hsknowledge.HsCodeSearchVO"
            resultType="int">
        SELECT
            COUNT(*)
        FROM hs_code H
        LEFT JOIN hs_class C
          ON C.hs_class_cd = H.hs_code
        <include refid="hsCodeSearchWhere"/>
    </select>

    <select id="selectHsCode" resultMap="hsCodeMap">
        SELECT
            <include refid="hsCodeColumns"/>
        FROM hs_code H
        LEFT JOIN hs_class C
          ON C.hs_class_cd = H.hs_code
        WHERE H.hs_code = #{hsCode}
    </select>

    <update id="updateHsCode" parameterType="kr.or.tacs.vo.systemadmin.hsknowledge.HsCodeVO">
        UPDATE hs_code
        SET
              hs_name = #{hsName}
            , hs_tariff_rate = #{hsTariffRate}
        WHERE hs_code = #{hsCode}
    </update>

    <update id="updateHsClass" parameterType="kr.or.tacs.vo.systemadmin.hsknowledge.HsCodeVO">
        UPDATE hs_class
        SET
              hs_class_nm = #{hsClassNm}
            , hs_class_desc = #{hsClassDesc}
            , use_yn = #{useYn}
        WHERE hs_class_cd = #{hsCode}
    </update>

    <update id="updateHsClassUseYn">
        UPDATE hs_class
        SET use_yn = #{useYn}
        WHERE hs_class_cd = #{hsCode}
    </update>
</mapper>
