<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.tacs.owner.transport.mapper.IOwnerTransportMapper">

    <resultMap id="forwarderDetailMap" type="kr.or.tacs.dto.owner.OwnerForwarderDetailDTO">
        <result property="tmNo" column="TM_NO"/>
        <result property="tmCpNm" column="TM_CP_NM"/>
        <result property="tmName" column="TM_NAME"/>
        <result property="tmCpTelno" column="TM_CP_TELNO"/>
        <result property="tmUseYn" column="TM_USE_YN"/>

        <result property="completeCount" column="COMPLETE_COUNT"/>
        <result property="activeCount" column="ACTIVE_COUNT"/>
        <result property="employeeCount" column="EMPLOYEE_COUNT"/>

        <result property="transportMethodCd" column="TRANSPORT_METHOD_CD"/>
        <result property="transportMethodNm" column="TRANSPORT_METHOD_NM"/>
    </resultMap>

    <select id="selectForwarder" resultMap="forwarderDetailMap">
        WITH BASE AS (
            SELECT
                TM_NO
                 , TM_CP_NM
                 , TM_CP_TELNO
                 , TM_MN_CD
                 , TM_USE_YN
            FROM TRANSPORT_MANAGER
            WHERE TM_NO = #{trcTmNo}
        ),
             COMPANY_MANAGERS AS (
                 SELECT
                     TM.TM_NO
                      , TM.TM_CP_NM
                      , TM.TM_CP_TELNO
                      , TM.TM_MN_CD
                      , TM.TM_NAME
                      , TM.TM_USE_YN
                 FROM TRANSPORT_MANAGER TM
                          JOIN BASE B
                               ON TM.TM_CP_NM = B.TM_CP_NM
                 WHERE TM.TM_USE_YN = 'Y'
             )
        SELECT
            MIN(CM.TM_NO) AS TM_NO
             , CM.TM_CP_NM
             , MIN(CM.TM_NAME) AS TM_NAME
             , MIN(CM.TM_CP_TELNO) AS TM_CP_TELNO
             , MAX(CM.TM_USE_YN) AS TM_USE_YN

             , NVL((
                       SELECT COUNT(*)
                       FROM TRAN_RCP TR
                       WHERE TR.TRC_OWR_ID = #{owrId}
                         AND TR.TRC_STATUS_CD = 'TRC_COMPLETE'
                         AND TR.TRC_TM_NO IN (
                           SELECT TM_NO
                           FROM COMPANY_MANAGERS
                       )
                   ), 0) AS COMPLETE_COUNT

             , NVL((
                       SELECT COUNT(*)
                       FROM TRAN_RCP TR
                       WHERE TR.TRC_OWR_ID = #{owrId}
                         AND TR.TRC_STATUS_CD IN (
                                                  'TRC_DONE',
                                                  'TRC_DISPATCH_WAIT',
                                                  'TRC_DISPATCH_DONE',
                                                  'TRC_ARR_ARRIVED',
                                                  'TRC_NTC_NSENT',
                                                  'TRC_NTC_SENT',
                                                  'TRC_DO_READY',
                                                  'TRC_DO_ISSUED',
                                                  'TRC_DO_REQ',
                                                  'TRC_STL_UNPAID',
                                                  'TRC_STL_REQ',
                                                  'TRC_STL_PAID'
                           )
                         AND TR.TRC_TM_NO IN (
                           SELECT TM_NO
                           FROM COMPANY_MANAGERS
                       )
                   ), 0) AS ACTIVE_COUNT

             , COUNT(*) AS EMPLOYEE_COUNT

             , MIN(CM.TM_MN_CD) AS TRANSPORT_METHOD_CD
             , CASE MIN(CM.TM_MN_CD)
                   WHEN 'SEA' THEN '해상'
                   ELSE MIN(CM.TM_MN_CD)
            END AS TRANSPORT_METHOD_NM

        FROM COMPANY_MANAGERS CM
        GROUP BY CM.TM_CP_NM
    </select>

</mapper>
